@import url(./main.css);

:root {
  --raio: 1rem;
  --borda: .1rem solid var(--cor-cinza);
  --degrade: var(--cor-rosa), var(--cor-roxo), var(--cor-azul-0);
}

body {
  height: 100vh;
  width: 100vw;
  padding: 2.9rem;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

main, form, label {
  display: flex;
  flex-direction: column;
}

main {
  width: 48rem;
  height: 100%;
  margin-right: 2.9rem;

  flex: none;
  justify-content: center;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  overflow: hidden;
}

section div {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 50%;

  --r: 100%;
  border-top-left-radius: var(--r);
  border-top-right-radius: var(--r);

  filter: blur(7rem);
  background: var(--cor-roxo) linear-gradient(to left, var(--degrade));
  opacity: 90%;
}

h1 {
  margin: 0;
  font-size: 3.5rem;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form label:last-of-type {
  margin-top: 2.3rem;
}

label span {
  font-size: 1.6rem;
  margin-bottom: .6rem;
}

.label-group {
  height: 5rem;
  border: var(--borda);
  border-radius: var(--raio);
  display: flex;
}

.label-group input {
  width: 100%;
  padding: 0 1.9rem;
  border: 0;

  font-size: 1.6rem;  
  color: black;
  background-color: transparent;
}

.label-group input:focus {
  outline: .1rem solid black;
  border-radius: var(--raio);
}

.label-group div {
  width: 5rem;
  aspect-ratio: 0;
  border-radius: var(--raio);

  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--cor-azul-1);
}

.label-group img {
  width: 2rem;
}

form a {
  margin-top: 1.3rem;
  align-self: flex-end;

  color: var(--cor-azul-1);
  font-size: 1.4rem;
}

button {
  height: 5rem;
  border: var(--borda);
  border-radius: var(--raio);
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  font-weight: 600;
}

button:first-of-type {
  color: white;
  background-image: linear-gradient(
    to right, var(--degrade) 64%, white 76% 
  );
  background-color: black;

  margin: 2.5rem 0;
}

button:last-child {
  background-color: transparent;
}

button img {
  width: 2rem;
  margin-right: 1rem;
}

a {
  font-size: 1.3rem;
  color: black;
}