body {
  height: 100vh;
  overflow: hidden;
  /* background-image: linear-gradient(
    to top,
    #a78bfa,
    #818cf8 40%,
    #f8fafc 
  );*/
  background-color: #f0f0f0;
  /* padding: 5rem; */
}

#root {
  height: 100%;
  width: 100%;
  padding: 0rem 2rem;

  display: flex;
  gap: 2rem;
}
