body {
  background-color: #f0f0f0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  #root {
    padding: 0;
    gap: 0;
  }
}
